./wheelhouse/GDAL-3.4.1-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.whl
affine==2.4.0
asgiref==3.8.1
attrs==25.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
Django==4.2.19
django-leaflet==0.31.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
geopandas==1.0.1
gunicorn==23.0.0
idna==3.10
importlib_metadata==8.6.1
joblib==1.4.2
networkx==3.2.1
numpy==2.0.2
osmnx==2.0.2
packaging==24.2
pandas==2.2.3
point==0.0.1
psycopg2-binary==2.9.10
PyJWT==2.10.1
pyogrio==0.10.0
pyparsing==3.2.1
pyproj==3.6.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.1
rasterio==1.4.3
requests==2.32.3
scikit-learn==1.6.1
scipy==1.13.1
shapely==2.0.7
six==1.11.0
sqlparse==0.5.3
threadpoolctl==3.6.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
whitenoise==6.9.0
zipp==3.21.0
